<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login V9</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--===============================================================================================-->
    <link
      rel="icon"
      type="image/png"
      href="/ext/login/images/icons/favicon.ico"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/ext/login/vendor/bootstrap/css/bootstrap.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/ext/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/ext/login/fonts/iconic/css/material-design-iconic-font.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/ext/login/vendor/animate/animate.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/ext/login/vendor/css-hamburgers/hamburgers.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/ext/login/vendor/animsition/css/animsition.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="vendor/select2/select2.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/ext/login/vendor/daterangepicker/daterangepicker.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/ext/login/css/util.css" />
    <link rel="stylesheet" type="text/css" href="/ext/login/css/main.css" />
    <!--===============================================================================================-->
  </head>
  <body>
    <div
      class="container-login100"
      style="background-image: url('https://i.ibb.co/4tvd9DR/bg-01.jpg');"
    >
      <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
        <form class="login100-form validate-form">
          <img
            data-toggle="tooltip"
            title="Fuyū tamashī (浮遊魂)"
            src="/ext/home/images/logos/icons/Screenshot from 2019-09-21 00-06-50.png"
            style="padding: 5;margin-left: 10%"
            alt="no-image"
          />
          <div class="text-center p-t-57 p-b-20">
            <span class="txt1">
              Sign In With
            </span>
          </div>

          <div class="flex-c p-b-112">
            <a
              href="/auth/facebook"
              data-toggle="tooltip"
              title="Facebook"
              class="login100-social-item"
            >
              <img
                src="/ext/login/images/icons/58f4723d8f23906bdcb058604075ad2a_icon.png"
                alt="FACEBOOK"
              />
            </a>

            <a
              href="/auth/google"
              data-toggle="tooltip"
              title="Google"
              class="login100-social-item"
            >
              <img
                src="/ext/login/images/icons/google_logo_5kg_icon.ico"
                alt="GOOGLE"
              />
            </a>
          </div>
        </form>
      </div>
    </div>

    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="/ext/login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="/ext/login/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="/ext/login/vendor/bootstrap/js/popper.js"></script>
    <script src="/ext/login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="/ext/login/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="/ext/login/vendor/daterangepicker/moment.min.js"></script>
    <script src="/ext/login/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="/ext/login/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="/ext/login/js/main.js"></script>
  </body>
  <script>
    $(document).ready(function() {
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>
</html>
