<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,700|Prata"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

    <link rel="stylesheet" type="text/css" href="/ext/home/dist/style.css" />
    <!-- <link href="/ext/forAll/dist/pmd-1.3.2-dist/css/propeller.min.css"/>
<script src="/ext/forAll/dist/pmd-1.3.2-dist/js/propeller.min.js" ></script> -->

    <!-- Compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->

    <!-- Compiled and minified JavaScript -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->

    <!--====================================table============================================-->
    <!--===============================================================================================-->
    <link
      rel="icon"
      type="image/png"
      href="/ext/forAll/table/images/icons/favicon.ico"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/ext/forAll/table/vendor/bootstrap/css/bootstrap.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/ext/forAll/table/fonts/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/ext/forAll/table/vendor/animate/animate.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/ext/forAll/table/vendor/select2/select2.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/ext/forAll/table/vendor/perfect-scrollbar/perfect-scrollbar.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/ext/forAll/table/css/util.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/ext/forAll/table/css/main.css"
    />
    <!--===============================================================================================-->
  </head>
  <body>
    <div id="first-div" style="height: 80%">
      <div class="mask d-flex justify content-center align-items-center">
        <div class="container-fluid">
          <!--/ext/home/music/Sakura.mp3-->

          <audio
            id="music"
            src="https://cdns-preview-1.dzcdn.net/stream/c-16654986a544f59802ba53ac01444f0f-13.mp3"
            autoplay="true"
            loop
          ></audio>
          <video
            id="screenVideo"
            width="100%;"
            style="position: absolute; margin-left: -1%;margin-right: 2%"
            preload
            muted
            loop
          >
            <source src="/ext/home/video/mainVideo.mp4" type="video/mp4" />
          </video>

          <nav class="navbar transparent17349  justify-content-between">
            <a class="navbar-brand" href="#" style="color: cornsilk">浮遊魂</a>
            <ul class="navbar-nav ml-auto nav-flex-icons">
              <li class="nav-item">
                <i
                  class="fas fa-bell"
                  style=" color:cornsilk;text-align:center;padding:15px"
                ></i>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link waves-effect waves-light dropdown-toggle"
                  id="profileDropdown"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  style="color: cornsilk"
                >
                  <img
                    class="rounded-circle z-depth-0"
                    src="<%=userData.profileImg %>"
                    alt="no image"
                    width="32"
                  />
                </a>
                <div
                  class="dropdown-menu dropdown-menu-right dropdown-default "
                  aria-labelledby="profileDropdown"
                >
                  <a
                    class="dropdown-item text-info "
                    href="#"
                    style="box-shadow:0 8px 6px -6px grey; padding: 5px "
                    ><i
                      class="far fa-user-circle"
                      style="padding: 5px;text-shadow: 2px 2px 5px; text-align: center"
                    >
                      Profile</i
                    ></a
                  >
                  <!-- <div  style="border-bottom-style: groove;border-bottom-width: 2px;border-color: lightgrey; margin-left: 8%; margin-right: 8%;"></div> -->
                  <a
                    class="dropdown-item text-danger"
                    href="/logout"
                    style="box-shadow: 0 -8px -6px grey; padding: 5px"
                    ><i
                      class="fas fa-sign-out-alt"
                      style="padding: 5px;text-shadow: 2px 2px 5px; text-align: center"
                    >
                      Log Out</i
                    ></a
                  >
                </div>
              </li>
            </ul>
          </nav>

          <div class="smoke">
            <ul>
              <!-- 浮遊魂 -->
              <li style="margin-top:-15%;margin-left:15%">浮遊魂</li>
              <!-- Fuyū tamashī -->
              <li>F</li>
              <li>u</li>
              <li>y</li>
              <li>ū</li>
              <li>&nbsp;</li>
              <li>T</li>
              <li>a</li>
              <li>m</li>
              <li>a</li>
              <li>s</li>
              <li>h</li>
              <li>ī</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div id="second_div">
      <main style="padding: 5%">
        <div class="container-fluid">
          <nav
            class="navbar navbar-dark elegant-color-dark justify-content-between"
          >
            <a class="navbar-brand" href="#"
              ><img
                src="/ext/home/images/logos/icons/Screenshot from 2019-09-21 00-06-50.png"
                width="64"
            /></a>
            <ul class="navbar-nav">
              <li class="form-inline">
                <button class="btn peach-gradient"  onclick="constructionWarning()">Japnese</button>

                <button
                  class="btn purple-gradient"
                  onclick="constructionWarning()"
                >
                  Electronics
                </button>

                <button class="btn blue-gradient"  onclick="constructionWarning()">Hip-Hop</button>

                <button class="btn aqua-gradient"  onclick="constructionWarning()">POP</button>
              </li>
            </ul>

            <form class="form-inline my-1">
              <div class="md-form form-sm my-0">
                <input
                  class="form-control form-control-sm mr-sm-2 mb-0"
                  type="text"
                  id="searchMusicString"
                  placeholder=" Search Music"
                  aria-label="Search"
                />
              </div>
              <button
                class="btn btn-outline-white btn-sm my-0"
                type="button"
                onclick="constructionWarning()"
              >
                <i class="fas fa-search"></i>&nbsp;&nbsp;Search
              </button>
            </form>
          </nav>
          <div class="table100 ver3 m-b-110" style="border-radius: 0em;">
            <div class="table100-head">
              <table>
                <thead>
                  <tr class="row100 head">
                    <th class="cell100 column1">#</th>
                    <th class="cell100 column2">Title</th>
                    <th class="cell100 column3">Album</th>
                    <th class="cell100 column4">Artist</th>
                    <th class="cell100 column5">Ranking</th>
                  </tr>
                </thead>
              </table>
            </div>

            <div class="table100-body js-pscroll">
              <table>
                <tbody>
                  <% for(var i=0;i<musicsData[3].data.length;i++){ %>
                    <tr class="row100 body">
                      <td class="cell100 column1">
                        <button class="brk-btn" onclick="player.playMusic('<%=musicsData[3].data[i].preview %>','<%= musicsData[3].data[i].artist.name%>','<%=musicsData[3].data[i].title %>')" >Play</button>
                      </td>
                      <td class="cell100 column2"><%= musicsData[3].data[i].title%></td>
                      <td class="cell100 column3"><%= musicsData[3].data[i].album.title%></td>
                      <td class="cell100 column4"><%= musicsData[3].data[i].artist.name%></td>
                      <td class="cell100 column5"><%= musicsData[3].data[i].rank %></td>
                    </tr>
                    <%}%> </tbody>
              </table>
            </div>
          </div>
        </div>
      </main>
    </div>

    <!-- Side Modal Bottom Right -->

    <!-- To change the direction of the modal animation change .right class -->
    <div
      class="modal fade left"
      id="musicModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true"
    >
      <!-- Add class .modal-side and then add class .modal-top-right (or other classes from list above) to set a position to the modal -->
      <div class="modal-dialog modal-side modal-bottom-left" role="document">
        <div
          class="modal-content"
          style="background-color: transparent;border: 0em;box-shadow: none;-webkit-box-shadow: none;-moz-box-shadow: none;"
        >
          <div class="modal-body">
            <div class="player">
              <div id="info" class="info">
                <span id="titleVal"class="artist" style="display: inline">Flume</span>
                <span id="artistName"   class="name" >s</span>
                <div class="progress-bar">
                  <div id="Bar" class="bar"></div>
                </div>
              </div>
              <div id="control-panel" class="control-panel">
                <div class="album-art"></div>
                <div class="controls">
                  <div class="prev"></div>
                  <div
                    id="play"
                    class="play"
                    onclick="player.toggleMusicPlayer()"
                  ></div>
                  <div class="next"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Side Modal Bottom Right -->

    <button
      type="button"
      class="float-button-Custom btn-light waves-effect rounded-circle"
      id="musicPlayerButton"
      data-toggle="modal"
      style="width: 5%; height: 10%; background-color: whitesmoke"
      data-target="#musicModal"
    >
      <img src="/ext/home/images/tenor.gif" width="64" />
    </button>
  </body>
  <!-- Font Awesome -->
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
  />
  <!-- Bootstrap core CSS -->
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
    rel="stylesheet"
  />
  <!-- Material Design Bootstrap -->
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/css/mdb.min.css"
    rel="stylesheet"
  />
  <!--Music Player Design-->
  <link href="/ext/forAll/dist/css/musicPlayer.css" rel="stylesheet" />
  <!--Button Css-->
  <link href="/ext/forAll/dist/css/brkButton.css" rel="stylesheet" />

  <!-- JQuery -->
  <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
  ></script>
  <!-- Bootstrap tooltips -->
  <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"
  ></script>
  <!-- Bootstrap core JavaScript -->
  <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"
  ></script>
  <!-- MDB core JavaScript -->
  <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/js/mdb.min.js"
  ></script>
  <!--Music Player JavaScript-->
  <script
    type="text/javascript"
    src="/ext/forAll/dist/js/musicPlayer.js"
  ></script>

  <!--===================================table=================================-->
  <!--===============================================================================================-->
  <!-- <script src="/ext/forAll/table/vendor/jquery/jquery-3.2.1.min.js"></script> -->
  <!--===============================================================================================-->
  <script src="/ext/forAll/table/vendor/bootstrap/js/popper.js"></script>
  <script src="/ext/forAll/table/vendor/bootstrap/js/bootstrap.min.js"></script>
  <!--===============================================================================================-->
  <script src="/ext/forAll/table/vendor/select2/select2.min.js"></script>
  <!--===============================================================================================-->
  <script src="/ext/forAll/table/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>

  <!--==================================home logic & excution js ===================-->

  <script src="/logic/music/musicPlayerLogic.js"></script>
  <!-- <script src="/bundle/test.js"></script> -->

  <style>
    .float-button-Custom {
      position: fixed;
      width: 60px;
      height: 60px;
      bottom: 40px;
      right: 40px;
      background-color: rgb(227, 240, 236);
      color: #fff;
      /* border-radius:50px; */
      text-align: center;
      box-shadow: 2px 2px 3px #999;
    }

    #second_div {
      background-image: url("https://i.ibb.co/RcjJ0kB/FecPArG.jpg");
      background-size: cover;
      margin-left: 0.1%;
      margin-right: 0.1%;
      margin-top: -0.5%;
      width: 99.8%;
      position: absolute;
    }
  </style>

  <script>
    let player = null;

    initialConfiguration = () => {
      $('[data-toggle="popover"]').popover();
      $(".dropdown-toggle").dropdown();
    };

    $(document).ready(() => {
      const music = document.getElementById("music");
      player = new Player(music);
      player.buttonToggler();
      player.pause();
      player.changeTitle();
      initialConfiguration();
      confirmBackGroundMusic();
    });

    let confirmBackGroundMusic = async () => {
      const musicPermission = await Swal.fire({
        title: "Please one moment",
        text:
          "We want to play a background music. Will you allow us to play the music?",
        type: "question",
        showCancelButton: true,
        confirmButtonColor: "#27ae60",
        cancelButtonColor: "#c0392b"
      });

      if (musicPermission.value) {
        player.play();
      }
    };

    let constructionWarning=()=>{
      Swal.fire("Sorry, it will not work now","This web site is still under development.\nThis will start working soon","error");
    }
  </script>
</html>
